<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    Hello RAPH !
  </div>
</template>

<script>
// @ is an alias to /src


export default {
  name: 'Home',
  components: {

  }
}
</script>
